<<<<<<< HEAD
p {
=======
h1,p,title {
>>>>>>> origin/master
	color: #000000;
}



body {
<<<<<<< HEAD
	background-color: rgba(0,0,0,.75);
	background: url (http://i.imgur.com/4NV8yO1.jpg);
}
#slogan {
	text-align: center;
	text-transform: uppercase;
	font-family: helvetica ;

=======
	background-color: #000000;
	background: url (http://i.imgur.com/4NV8yO1.jpg);
	background-size: cover;
>>>>>>> origin/master
}
