#slogan {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Inconsolata';
}

body {
	background: url("http://i.imgur.com/4NV8yO1.jpg");
}

h1{ 
	text-align: center;
	font-size: 75pt;
}

h3{
	text-align: center;
	font-family: 'Inconsolata';
}